html {
    font-family: "Times New Roman", serif;
}


body {
    margin: 0;
    background-color: darkgrey;
}


header {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 20vh;
}

header logo {
    border: 1px solid deepskyblue;
    border-radius: 5vmin;
    height: 15vh;
}

header search-input {
    float: right;
    margin-top: 1vh;
    width: 40%;
}

header search-input input{
    width: 100%;
    height: 6vh;
    font-size: 4vmin;
}

header label {
    font: 5vmin "Times New Roman";
}

subHeader {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

subheader block {
    background-color: darkcyan;
    font: 3vmin "Times New Roman";
    height: 5vmin;
}


pageBody {
    display: flex;
    position: relative;
}


leftBlock {
    display: flex;
    background-color: darkgrey;
    flex-direction: column;
    width: 30%;
    justify-content: left;
}

leftBlock block {
    display: flex;
    background-color: darkcyan;
    font: 4vh "Times New Roman";
    justify-content: left;
    margin-top: 5vh;
}

images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    min-width: 10px;
    min-height: 30px;
    max-height: 900px;
    height: 10vh;
    width: 100%;
}

images img {
    height: 30vh;
    width: 20vmax;
}

footer {
    margin-top: 5.5vh;
    display: flex;
    background-color: darkcyan;
    font: 9vh bold;
    justify-content: center;
}
