html {
    font-family: "Times New Roman", serif;
}

body {
    margin: 0;
}

h1 {
    margin-top: -1%;
    text-align: left;
    color: black;
}

article_yellow {
    border: 1px solid black;
    padding: 0.8%;
    margin: 0.5%;
    background: yellow;
    flex: 1;
    font-size: 1.5vw;
}

article_green {
    border: 1px solid black;
    padding: 0.8%;
    margin: 0.5%;
    background: green;
    flex: 1;
    font-size: 1.5vw;
}

article_footer {
    display: flex;
    border: 1px solid black;
    padding: 1%;
    margin: 1% 0.5% 0.5% 0.5%;
    background: green;
    font-size: 1.5vw;
}

article_yellow:nth-of-type(7) {
    flex: 1.5;
}

section {
    display: flex;
}