html {
    font-family: "Times New Roman", serif;
}

body {
    margin: 0;
}

h1 {
    margin-top: -1%;
    text-align: left;
    color: black;
}

article {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background: darkblue;
    flex: 1;
}


article_yellow:nth-of-type(7) {
    flex: 1.5
}

section {
    border: 3px solid black;
    padding: 5px;
    margin: 10px;
    align-items: end;
}

section_high {
    display: flex;
    align-items: flex-start;
}

section_low {
    display: flex;
    align-items: flex-end;
}